# Helixtrace API Configuration

# OpenTopoData server, change to your server!!!
OPENTOPADATA_SERVER=https://api.opentopodata.org/v1/test-dataset
OPENTOPADATA_MAX_LOCATIONS=100

# Trace Path
TRACE_PATH_POINT_DISTANCE=50

# ClickHouse Database
CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT=9000
CLICKHOUSE_DATABASE=helixtrace
CLICKHOUSE_USER=admin
CLICKHOUSE_PASSWORD=

# API Server
API_HOST=0.0.0.0
API_PORT=8000

# Enable debug logging (true/false)
DEBUG=false
